html, body {
    font-family: 'Montserrat', sans-serif;
    /* White Space */
    margin: 0;
    padding: 0;
}


  
h1 , p {
    font-family: 'Poppins', sans-serif;
}




.backgroundContainer1 {
    background-color: #E3FDFD;
}
.backgroundContainer2{
    background-color: #EFFFFD;
}
.backgroundContainer3 {
    background-color: #4a97d4;
}



/* Flex Container */

.flex-container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 2em;
}
    
    
    .contactDetails {
        margin: 0 0.55em;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }


    .footerDetails {
        color: white;
        margin: 0 0.55em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }


            .copyright {
                text-align: center;
            }


/* Images */
.contactPhone {
    margin-left: 1.5em;
    width: 9em;
}