html, body {
    font-family: 'Montserrat', sans-serif;
    /* White Space */
    margin: 0;
    padding: 0;
}

h1 {
    color: #1C658C;
    margin-top: 1.5em;
}
  
h1 , p {
    font-family: 'Poppins', sans-serif;
}
 

.backgroundContainer1 {
    background-color: #E3FDFD;
}
.backgroundContainer2{
    background-color: #EFFFFD;
}
.backgroundContainer3 {
    background-color: #4a97d4;
}



/* Flex Container */

.flex-container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 2em;
}
    
    
    .contactDetails {
        margin: 0 0.55em;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }


    .footerDetails {
        color: white;
        margin: 0 0.55em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }


            .copyright {
                text-align: center;
            }


/* Images */
.contactPhone {
    margin-top: 1em;
    margin-left: 1.5em;
    width: 9em;
}


/* Tablet */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {

    
    h1 {
        font-size: 2em;
        margin-top: 1.5em;
    }
        
    
    .contactDetails {
        margin: 0 2em;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    textarea {
        width: 52em;
        height: 16em;
    }



    /* Images */
    .contactPhone {
        margin-top: 1em;
        margin-left: 2.8em;
        margin-bottom: 1em;
        width: 10.5em;
    }


    .contactPadding {
        padding-bottom: 4em;
    }
}



/* Desktop */
@media only screen 
and (min-device-width: 1025px) {

    h1 {
        font-size: 2.2em;
        margin-top: 1.5em;
    }

    /* Images */
    .contactPhone {
        margin-top: 1.5em;
        margin-left: 2em;
        width: 12em;
    }

      
    .contactDetails {
        margin-left: 10em;
        padding-top: 1.8em;
        padding-bottom: 0.5em;
    }


    
    textarea {
        width: 102em;
        height: 20em;
    }


}