html, body {
    font-family: 'Montserrat', sans-serif;
    /* White Space */
    margin: 0;
    padding: 0;
}




.backgroundContainer1 {
    background-color: #E3FDFD;
}


.backgroundContainer2{
    background-color: #EFFFFD;
}


/* Flex Container */

.flex-container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;
    text-align: center;

    margin-left: 2em;
    margin-right: 2em;
}

    /* Add Comma */
    .headingIntro {
        margin-left: 1em;
        margin-right: 1em;
    }

    .forestCenter {
        text-align: center;
    }




/* Grid Container */
    .grid-container1 {
        display: grid;
        grid-template-columns: 20em;
        grid-template-rows: 14em;

        justify-content: center;
        text-align: center;
    }

    .grid-container1 .card {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }





    /*Images*/
    .forest {
        height: 11em;
    }
    
    
    .topCloud {
    margin-left: 13.5em;
    height: 9em;
    }
    
    .bottomCloud {
    margin-left: 2em;
    height: 9em;
    }


    .profilePicture {
        height: 11em;
        padding-top: 4em;
        padding-bottom: 2em;
    }
    

    /* Skills - Images */
   .architectDesigner, .studioTable, .neuralMolecule {
       height: 10em;
       padding-top: 2em;
    }



    .contentPlanning {
        height: 8em;
        padding-top: 2em;
    }
    

