html, body {
    font-family: 'Montserrat', sans-serif;
    /* White Space */
    margin: 0;
    padding: 0;
}




.backgroundContainer1 {
    background-color: #E3FDFD;
}


.backgroundContainer2{
    background-color: #EFFFFD;
}


.backgroundContainer3 {
    background-color: #4a97d4;
}


/* Flex Container */

.flex-container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;
    text-align: center;

    margin-left: 2em;
    margin-right: 2em;
}

    .flex-container1 .item {
        margin-left: 0.8em;
        margin-right: 0.8em;
    }

    .socialMedia {
        padding-bottom: 1em;
    }
    
    /* Add Comma */
    .headingIntro {
        margin-left: 1em;
        margin-right: 1em;
    }

    .forestCenter {
        text-align: center;
    }




/* Grid Container */
    .grid-container1 {
        display: grid;
        grid-template-columns: 20em;
        grid-template-rows: 14em;

        justify-content: center;
        text-align: center;
    }

    .grid-container1 .card {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }




    .grid-container2 {
        display: grid;
        grid-template-columns: 6em 6em 6em;

        justify-content: center;
        text-align: center;

       padding-top: 1em;
    }




    /*Images*/
    .forest {
        height: 11em;
    }
    
    
    .topCloud {
    margin-left: 13.5em;
    height: 9em;
    }
    
    .bottomCloud {
    margin-left: 2em;
    height: 9em;
    }


    .profilePicture {
        height: 11em;
        padding-top: 4em;
        padding-bottom: 2em;
    }
    

    /* Skills - Images */
   .architectDesigner, .studioTable, .neuralMolecule {
       height: 10em;
       padding-top: 2em;
    }



    .contentPlanning {
        height: 8em;
        padding-top: 2em;
    }
    



    /* Button Generator */
    .myButton {
        box-shadow: 3px 4px 0px 0px #1564ad;
        background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        background-color:#79bbff;
        border-radius: 1em;
        border:1px solid #337bc4;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        font-weight:bold;
        padding:10px 30px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        background-color:#378de5;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
            